<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tags</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            {% for x in body_content %}

            <div class="py-8 flex flex-wrap md:flex-nowrap">



              
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700">{{ x.1 }}</span>
              </div>
              <div class="md:flex-grow">
                <p class="leading-relaxed">{{ x.2 }}</p>
                <a class="text-indigo-500 inline-flex items-center mt-4" href="/tags/{{ x.1 }}">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
              
            </div>
            {% endfor %}

            </div>
          </div>
      </section>














</body>
</html>

<!-- 

First Create a EndPoint with all the Tags


Now, create a new endpoint for the posts with a specific tag for all the tags.


Add DB Search to find endpoints for all the tags one by one and store in db.









-->
